services:
  backend:
    build: ./backend
    container_name: backend_container
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - PYTHONWARNINGS=ignore
      - TF_CPP_MIN_LOG_LEVEL=3
      - TF_ENABLE_ONEDNN_OPTS=0
    volumes:
      - ./backend:/app
    # Перевірка: чи живий API?
    healthcheck:
      test: ["CMD-SHELL", "python -c 'import urllib.request; urllib.request.urlopen(\"http://localhost:8000/docs\")'"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    # Фронт почне запуск лише коли бекенд пройде healthcheck
    depends_on:
      backend:
        condition: service_healthy
    restart: always