fastapi
uvicorn[standard]
python-multipart
sqlalchemy
sqlmodel
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
bcrypt
PyJWT==2.8.0
python-dotenv
tensorflow-cpu
joblib
pandas
numpy
google-generativeai
pydantic
pydantic-settings
scikit-learn